.green {
    width: 700px;
    height: 350px;
    background-color: green;
    margin: 100px auto;
    position: relative;
}

.circle{
    background-color: red;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    top: 50%;
    position: absolute;
}