/* Medium layout ; Checking point 1000px*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .container {
    width: 970px;
  }
}

/* Tablet layout : Checking poing 800px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}

/* Mobile layout checking point 300px */
@media only screen and (max-width: 767px) {
  .container {
    width: 320px;
  }

  .header {
    flex-direction: column;
  }

  .about-title {
    width: 100%;
  }
  .single-about {
    flex-basis: 100%;
    margin-bottom: 16px;
  }
  .single-services {
    flex-basis: 100%;
    margin-bottom: 20px;
  }

  .single-gallery {
    flex-basis: 48%;
  }
  .gallery-area {
    padding: 20px 0;
  }
  .contact-area {
    padding: 20px 0px;
  }
  .services-area {
    padding: 20px 0;
  }
  .contact {
    flex-direction: column;
  }
  .contact-form {
    flex-basis: 100%;
  }
  .contact-address {
    flex-basis: 100%;
  }
}

/* wide mobile layout Checking point 600px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}
